{% extends "layouts/agente.html" %} 
{% block head %} 
{{ super() }} 
{% endblock %} 
{%block title %} 
Lista de equipos 
{% endblock %} 
{% block content %}
{% for categoria, mensaje in get_flashed_messages(with_categories=true) %}
<script class="flash-mensajes" data-icon="{{ categoria }}">{{ mensaje }}</script>
{% endfor %}
<div class="container-fluid">
  <div class="row">
     <div class="col">
      <h1>Lista de actividades</h1>
      <div class="btn-toolbar mt-4" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2 mb-2" role="group" aria-label="First group">
          <form action="{{ url_for('pdf.generar_todos_pdfs', tipo='verificacion') }}" method="POST">
            <button type="submit" class="btn btn-success">
              Generar todas las actas
            </button>
          </form>
        </div>
      </div>
      <div class="table-responsive mt-4">
        <table
          id="equiposTable"
          class="display responsive nowrap table table-striped table-bordered"
          style="width: 100%"
        >
          <thead class="table-dark">
            <tr>
              <th>Nombre de equipo</th>
              <th>Departamento</th>
              <th>Comisión</th>
              <th>Serial</th>
              <th>Registrado por</th>
              <th>Actualizar</th>
              <th>Imprimir</th>
            </tr>
          </thead>
          <tbody>
            {% for actividad in actividades %}
            <tr>
              <td>{{actividad.equipo.nombre}}</td>
              <td>{{actividad.equipo.departamento}}</td>
              <td>{{actividad.equipo.comision}}</td>
              <td>{{actividad.equipo.equipo_serial}}</td>
              <td>{{actividad.equipo.usuario.userName}}</td>
             <td>
                <a
                  href="{{ url_for('acta_verificacion.gestionar_evidencias', actividad_id=actividad.id) }}"
                  class="btn btn-primary"
                  >Actualizar</a
                >
              </td>

              <td>
                {% if actividad.puede_generar_pdf() %}
                    <a href="{{ url_for('pdf.crear_pdf', tipo='verificacion', obj_id=actividad.id) }}" class="btn btn-success">
                      Generar PDF
                    </a>
                {% else %}
                    <button class="btn btn-sm btn-secondary" disabled data-bs-toggle="tooltip" title="Bloqueado hasta completar las imágenes, Hash y Log">
                        <i class="bi bi-lock-fill"></i> PDF Bloqueado
                    </button>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %} {{ super() }} {% endblock %}
