{% extends "base_admin.html" %} 
{% block head %} 
{{ super() }} 
{% endblock %} 
{%block title %} 
Lista de equipos 
{% endblock %} 
{% block content %} 
{% block menu %} 
{{ super() }} 
{% endblock %} 
{% for categoria, mensaje in get_flashed_messages(with_categories=true) %}
<script class="flash-mensajes" data-icon="{{ categoria }}">{{ mensaje }}</script>
{% endfor %}
<div class="container-fluid">
  <div class="row">
     <div class="col">
      <h1>Lista de actividades</h1>
      <div class="btn-toolbar mt-4" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2 mb-2" role="group" aria-label="First group">
          <a href="{{ url_for('acta_verificacion.crear') }}" class="btn btn-primary">Crear actividad</a>
        </div>
        <div class="btn-group me-2 mb-2" role="group" aria-label="First group">
          <form action="{{ url_for('pdf.generar_todos_pdfs') }}" method="POST">
            <button type="submit" class="btn btn-success">
              Generar todas las actas
            </button>
          </form>
        </div>
      </div>
      <div class="table-responsive mt-4">
        <table
          id="equiposTable"
          class="display responsive nowrap table table-striped table-bordered"
          style="width: 100%"
        >
          <thead class="table-dark">
            <tr>
              <th>Nombre de equipo</th>
              <th>Departamento</th>
              <th>Comisión</th>
              <th>Serial</th>
              <th>Registrado por</th>
              <th>Estado</th>
              <th>Actualizar</th>
              <th>Imprimir</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            {% for actividad in actividades %}
            <tr>
              <td>{{actividad.nombre}}</td>
              <td>{{actividad.departamento}}</td>
              <td>{{actividad.comision}}</td>
              <td>{{actividad.equipo_serial}}</td>
              <td>{{actividad.usuario.userName}}</td>
              <td>{{actividad.estado.value}}</td>
              <td>
                <a
                  href="{{ url_for('acta_verificacion.editar', actividad_id=actividad.asd_id) }}"
                  class="btn btn-primary"
                  >Actualizar</a
                >
              </td>
              <td>
                <a href="{{ url_for('pdf.crear_pdf', tipo='verificacion', obj_id=actividad.asd_id) }}" class="btn btn-success">
                    Generar PDF
                </a>
              </td>
              <td>
                <a
                  href="{{ url_for('acta_verificacion.eliminar', actividad_id=actividad.asd_id) }}"
                  class="btn btn-danger"
                  >Eliminar</a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %} {{ super() }} {% endblock %}
