.estilo-grande {
    font-size: 9pt;
    font-weight: bold;
    text-align: center;
    line-height: 12pt;
}

.estilo-mediano {
    font-size: 8pt;
    text-align: justify;
    line-height: 12pt;
}

.estilo-pequeno {
    font-size: 7pt;
    text-align: center;
    line-height: 12pt;
}

.table-borrado td {
    border: 0.5pt solid black;
    padding: 2px 5px;
}

.header-title { 
    color: #1a2a6c; 
    text-transform: uppercase; 
    border-bottom: 2pt solid #1a2a6c; 
}