alembic
blinker
click
colorama
dominate
Flask
Flask-Bootstrap
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
Flask-Limiter
greenlet
itsdangerous
Jinja2
Mako
MarkupSafe
mysqlclient
SQLAlchemy
typing_extensions
visitor
Werkzeug
WTForms
mysql-connector-python
reportlab
pip 
pillow
python-dotenv
