{% extends "base.html" %} {% block content %}
<nav class="nav nav-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="/equipos/listar">Equipos</a></li>
      <li><a href="/usuarios/lista_usuario">Usuarios</a></li>
      {% if current_user.is_authenticated %}
      <li>
        <a href="/auth/logout">Cerrar sesión</a>
      </li>
      {% else %}
      <li>
        <a href="/auth/logout">Cerrar sesión</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
{% for mensaje in get_flashed_messages() %}
<div class="alert alert-success alert-dismissable">
  <button type="button" data-dismiss="alert" class="close">X</button>
  {{ mensaje }}
</div>
{% endfor %}

<h1>😆Lista de Usuarios😆</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre de Usuario</th>
      <th>Correo</th>
      <th>Rol</th>
      <th>Actualizar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    {% for usuario in usuarios %}
    <tr>
      <td>{{usuario.userName}}</td>
      <td>{{usuario.email}}</td>
      <td>{{usuario.rol.value}}</td>
      <td>
        <a href="/usuarios/editar_usuario/{{usuario.id}}" class="btn btn-primary">Modificar</a>
      </td>
      <td>
        <a href="/usuarios/eliminar_usuario/{{usuario.id}}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="d-grid gap-2 col-6 mx-auto">
  <a href="/usuarios/crear_usuario" class="btn btn-primary">Agregar Usuario</a>
  <a href="/representantes/lista_representantes" class="btn btn-info">Representantes</a>
</div>

{% endblock%}
