{% extends "form_base.html" %}
{% block title %}Editar Equipo{% endblock %}
{% block form_content %}
{% for categoria, mensaje in get_flashed_messages(with_categories=true) %}
            <script class="flash-mensajes" data-icon="{{ categoria }}">{{ mensaje }}</script>
{% endfor %}
<form method="POST" class="formularios" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <h2 class="text-center my-4 titulo-responsivo">Editar Equipo</h2>
    <div class="form-group mb-3">
        <label for="{{ form.nombre.asd_id }}" class="form-label">{{ form.nombre.label }}</label>
        {{ form.nombre(class="form-control", size=32) }}
        {% for error in form.nombre.errors %}
                <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group mb-3">
        <label for="{{ form.comision.asd_id }}" class="form-label">{{ form.comision.label }}</label>
        {{ form.comision(class="form-control") }}
        {% for error in form.comision.errors %}
                <div class="text-danger">{{ error }}</div>
        {% endfor %}        
    </div>
    <div class="form-group mb-3">
        <label for="{{ form.cod_comision.asd_id }}" class="form-label">{{ form.cod_comision.label }}</label>
        {{ form.cod_comision(class="form-control") }}
        {% for error in form.cod_comision.errors %}
                <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>
    <div class="form-group mb-3">
        <label for="{{ form.municipio.asd_id }}" class="form-label">{{ form.municipio.label }}</label>
        {{ form.municipio(class="form-control") }}
        {% for error in form.municipio.errors %}
                <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group mb-3">
        <label for="{{ form.departamento.asd_id }}" class="form-label">{{ form.departamento.label }}</label>
        {{ form.departamento(class="form-control") }}
        {% for error in form.departamento.errors %}
                <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group mb-3">
        <label for="{{ form.equipo_marca.asd_id }}" class="form-label">{{ form.equipo_marca.label }}</label>
        {{ form.equipo_marca(class="form-control") }}
        {% for error in form.equipo_marca.errors %}
                <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group mb-3">
        <label for="{{ form.equipo_modelo.asd_id }}" class="form-label">{{ form.equipo_modelo.label }}</label>
        {{ form.equipo_modelo(class="form-control") }}
        {% for error in form.equipo_modelo.errors %}
                <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group mb-3">
        <label for="{{ form.equipo_serial.asd_id }}" class="form-label">{{ form.equipo_serial.label }}</label>
        {{ form.equipo_serial(class="form-control") }}
        {% for error in form.equipo_serial.errors %}
                <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group mb-3">
        <label for="{{ form.dd_marca.asd_id }}" class="form-label">{{ form.dd_marca.label }}</label>
        {{ form.dd_marca(class="form-control") }}
        {% for error in form.dd_marca.errors %}
                <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group mb-3">
        <label for="{{ form.dd_modelo.asd_id }}" class="form-label">{{ form.dd_modelo.label }}</label>
        {{ form.dd_modelo(class="form-control") }}
        {% for error in form.dd_modelo.errors %}
                <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group mb-3">
        <label for="{{ form.dd_serial.asd_id }}" class="form-label">{{ form.dd_serial.label }}</label>
        {{ form.dd_serial(class="form-control") }}
        {% for error in form.dd_serial.errors %}
                <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group mb-3">
        <label for="{{ form.sha_1.asd_id }}" class="form-label">{{ form.sha_1.label }}</label>
        {{ form.sha_1(class="form-control", rows=3) }}
        {% for error in form.sha_1.errors %}
                <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form-group mb-3">
        <label for="{{ form.proceso.id }}" class="form-label">{{ form.proceso.label }}</label>
        <select id="{{ form.proceso.id }}" name="{{ form.proceso.name }}" class="form-control">
            {% for value, label in form.proceso.choices %}
                <option value="{{ value }}" {% if value == equipo.proceso.name %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>
        {% for error in form.proceso.errors %}
         <div class="text-danger">{{ error }}</div>
   {% endfor %}
    </div>
    <div class="form-group mb-3 form-observacion">
        <label for="{{ form.observacion.asd_id }}" class="form-label">{{ form.observacion.label }}</label>
        {{ form.observacion(class="form-control", rows=3) }}
        {% for error in form.observacion.errors %}
                <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <h3 class="text-center my-4 titulo-responsivo">Imágenes del Equipo</h3>
            {% for i in range(8) %}
                <div class="form-group form-group-imagen">
                    {% if equipo.imagenes and i < equipo.imagenes|length %}
                        <p>Foto actual {{ i+1 }}:</p>
                        <img src="{{ url_for('static', filename='img/' + equipo.imagenes[i]) }}" alt="Imagen actual" class="img-fluid" width="100" height="100">
                    {% else %}
                        <p>Foto nueva {{ i+1 }}:</p>
                    {% endif %}
                    <label for="{{ form.imagenes[i].id }}">{{ labels[i] }}</label>
                    {{ form.imagenes[i ](class="form-control form-control-sm") }}
                    {% for error in form.imagenes[i].errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
    <div class="form-group-button mb-3">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}
