{% extends "base_admin.html" %} 
{% block head %} 
{{ super() }} 
{% endblock %} 
{%block title %} 
Lista de equipos 
{% endblock %} 
{% block content %} 
{% block menu %} 
{{ super() }} 
{% endblock %} 
{% for mensaje in get_flashed_messages() %}
<div class="alert alert-success alert-dismissable">
  <button type="button" data-dismiss="alert" class="close">X</button>
  {{ mensaje }}
</div>
{% endfor %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Lista de equipos</h1>
      <div class="btn-toolbar mt-4" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2 mb-2" role="group" aria-label="First group">
          <a href="{{ url_for('equipos.crear_equipo') }}" class="btn btn-primary">Crear equipo</a>
        </div>
        <div class="btn-group me-2 mb-2" role="group" aria-label="First group">
          <form action="{{ url_for('pdf.generar_todos_pdfs') }}" method="POST">
            <button type="submit" class="btn btn-success">
              Generar todas las actas
            </button>
          </form>
        </div>
      </div>
      <div class="table-responsive mt-4">
        <table
          id="equiposTable"
          class="display responsive nowrap table table-striped table-bordered"
          style="width: 100%"
        >
          <thead class="table-dark">
            <tr>
              <th>#</th>
              <th>Estado</th>
              <th>Nombre de equipo</th>
              <th>Registrado por</th>
              <th>Actualizar</th>
              <th>Eliminar</th>
              <th>Imprimir</th>
            </tr>
          </thead>
          <tbody>
            {% for equipo in equipos %}
            <tr>
              <td>{{equipo.asd_id}}</td>
              <td>{{equipo.estado.value}}</td>
              <td>{{equipo.nombre}}</td>
              <td>{{equipo.usuario.userName}}</td>
              <td>
                <a
                  href="{{ url_for('equipos.editar_equipo', equipo_id=equipo.asd_id) }}"
                  class="btn btn-primary"
                  >Actualizar</a
                >
              </td>
              <td>
                <a
                  href="{{ url_for('equipos.eliminar_equipo', equipo_id=equipo.asd_id) }}"
                  class="btn btn-danger"
                  >Eliminar</a
                >
              </td>
              <td>
                <a
                  href="{{ url_for('pdf.crear_pdf', equipo_id=equipo.asd_id) }}"
                  class="btn btn-success"
                  >Generar PDF</a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %} {{ super() }} {% endblock %}
