{% extends "base_admin.html " %} {% block head %} {{ super() }} {% endblock %}
{% block title %} Lista de Representantes {% endblock %} {% block content %}
{% for categoria, mensaje in get_flashed_messages(with_categories=true) %}
<script class="flash-mensajes" data-icon="{{ categoria }}">{{ mensaje }}</script>
{% endfor %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Lista de Representantes</h1>
      <div "btn-toolbar mt-4" role="toolbar" aria-label="Toolbar with button
        groups">
        <div class="btn-group me-2 mb-2" role="group" aria-label="First group">
          <a href="{{ url_for('usuarios.lista_usuarios') }}" class="btn btn-success">Volver a la lista de usuarios</a>
        </div>
        <div class="btn-group me-2 mb-2" role="group" aria-label="First group">
          <a href="{{ url_for('representantes.registro_representante') }}" class="btn btn-primary">Registrar Representante</a>
        </div>
      </div>
      <div class="table-responsive mt-4">
      <table id="equiposTable" class="display responsive nowrap table table-striped table-bordered" style="width: 100%">
        <thead class="table-dark">
          <tr>
            <th>Nombre</th>
            <th>Rol</th>
            <th>Firma</th>
            <th>Actualizar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          {% for representante in representantes %}
          <tr>
            <td>{{ representante.nombre }}</td>
            <td>{{ representante.rol.value }}</td>
            <td>
              <img
                src="{{ url_for('static', filename='firmas/' + representante.firma) }}"
                width="100px"
                height="75px"
              />
            </td>
            <td>
              <a
                href="{{ url_for('representantes.editar_representante', representante_id=representante.id) }}" class="btn btn-primary">Actualizar</a>
            </td>
            <td>
              <a href="{{ url_for('representantes.eliminar_representante', representante_id=representante.id) }}" class="btn btn-danger">Eliminar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>
{% endblock%}
