{% extends "form_base.html" %}
{% block title %}
Registro Representante
{% endblock %}
{% block form_content %}
{% for mensaje in get_flashed_messages() %}
<div class="alert alert-success alert-dismissable">
  <button type="button" data-dismiss="alert" class="close">X</button>
  {{ mensaje }}
</div>
{% endfor %}
<form action="" class="login" method="POST" novalidate enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <h2 class="text-center my-4 titulo-responsivo">Registro Representante</h2>
  <div class="form-group mb-3">
    <label for="{{ form.nombre.id }}" class="form-label">{{ form.nombre.label }}</label>
    {{ form.nombre(class="form-control", size=32) }} {% for error in
    form.nombre.errors %}
    <div class="text-danger">{{ error }}</div>
    {% endfor %}
  </div>
  <div class="form-group mb-3">
    <label for="{{ form.rol.id }}" class="form-label">{{ form.rol.label }}</label>
    <select id="{{ form.rol.id }}" name="{{ form.rol.name }}" class="form-control">
      {% for value, label in form.rol.choices %}
      <option value="{{ value }}">{{ label }}</option>
      {% endfor %}
    </select>
    {% for error in form.rol.errors %}
    <div class="text-danger">{{ error }}</div>
    {% endfor %}
  </div>
  <div class="mb-3">
    <label for="{{ form.firma.id }}" class="form-label">{{ form.firma.label }}</label>
    {{ form.firma(class="form-control") }}
    {% for error in form.firma.errors %}
         <div class="text-danger">{{ error }}</div>
   {% endfor %}
  </div>
  <div class="mb-3">{{ form.submit(class="btn btn-primary") }}</div>
</form>
{% endblock %}
